@{
    ViewData["Title"] = "Home";
}


<h1>Welcome to this super cool Entertainment Website</h1>
<br />

<img src="~/img/BillyJoel.jpg" />

<div>
    <a asp-controller="Home" asp-action="EntClub">View Entertainers</a>
</div>
